* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  text-transform: uppercase;
  background-color:#E9E9E9;

}
a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}
.top-bar{
 display: flex;
padding: 20px 50px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;

}
.navigation{
  display: flex;
  padding: 20px 30px;
  align-items: flex-start;
  gap: 20px;
  background-color:white;
  border-radius:32px;
}
.lang-contact{
  display: flex;
}
.language{
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
}
.Contact{
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  background-color:white;
  border-radius:100%;
}
/*J'ai fini le travail*/

